.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1%;
  .inpt{
    border: 2px solid rgb(80, 80, 250);
    padding: 3px 10px;
    background-color: white;
    color: rgb(80, 80, 250);
    border-radius: 10px;
    transition: 200ms linear;
  }
  
  .btn{
    border: 2px solid rgb(80, 80, 250);
    background-color: white;
    color: rgb(80, 80, 250);
    border-radius: 10px;
    transition: 200ms linear;
    padding: 3px 10px;
    &:hover{
      color: white;
      transition: 200ms linear;
      background-color: rgb(80, 80, 250);
    }
  }
}

